<h2>{{ title }}</h2>

<p>This title was set from the View Helper for the "2.mustache" view. Since no title was provided by the Express request handler, this view's default title was used instead.</p>

<p>Note that the title bar says "No Title", while the page header says "Page 2". This is because a layout (which is a child view) does not know about the default values within a parent view's view helper.</p>