<h2>{{ title }}</h2>

<p>This title ("No Title") was set in "layout.mustache.js". This is possible by setting the prototype of the view helper to another object. No title was provided by the request handler, and no default was present in this view's view helper, so the value in the layout view helper was used.</p>